{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype"
  ],
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "semi": ["error", "never"],
    "no-console": "off",
    "no-trailing-spaces": "error",
    "flowtype/define-flow-type": 1
  }
}
